* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #722424;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}


header nav li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section div p {
    display: inline-flex;
}

.image {
    display: flex;
}

.image2 {
    display: flex;
    
}


